body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #87ceeb;
    overflow: hidden;
}

canvas {
    background-color: #32cd32;
    border: 2px solid #000;
    display: none; /* Canvas скрыт по умолчанию */
}

#mainMenu, #pauseMenu {
    text-align: center;
}

#mainMenu button, #gameControls button, #pauseMenu button {
    padding: 15px;
    font-size: 20px;
    margin: 10px;
}

#gameControls {
    display: none; /* Элементы управления скрыты по умолчанию */
    text-align: center;
}

#pauseMenu {
    display: none; /* Меню паузы скрыто по умолчанию */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

#mobileControls {
    display: none; /* По умолчанию скрыты */
    position: fixed;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

#mobileControls button {
    display: inline-block;
    margin: 0 10px;
    padding: 15px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: #ccc;
    cursor: pointer;
}

/* Показываем кнопки только на экранах меньше 600px */
@media only screen and (max-width: 600px) {
    #mobileControls {
        display: block; /* Показываем кнопки */
    }
}